.keunggulan {
    display: flex;
    @include for-tablet-landscape-up {    
        flex-direction: row;
    }
    flex-direction: column;
    flex: 1 1 0%;
    width: 100%;
    // padding-top: 3rem;
    @include for-tablet-landscape-up {
        margin-left: 3rem;
    }
    padding-left: 0.5rem;
    // padding-right: 3rem;
    .keunggulan-left {
        @include for-tablet-landscape-up {
            display: flex;
        }
        @include for-tablet-landscape-up {
            width: 35rem;
        }
        width: 100%;
        background-color: $coolGray-50;
        overflow: hidden;
        .unggulan-img {
            width: 100%;
            padding: 3rem;
            height: auto;
            border-radius: 0px;
            object-fit: cover;
        }
    }
    .keunggulan-right {
        @include for-tablet-landscape-up {
            display: flex;
        }
        flex-direction: column;
        .title {
            @include text-xl;
            font-weight: 700;
            padding-bottom: 3rem;
            color: $coolGray-800;
        }
        .title-description {
            @include text-lg;
            font-weight: 500;
            letter-spacing: $tracking-wide;
            
            padding-right: 4rem;
            color: $coolGray-600;
        }
        width: 100%;
        padding-left: 3rem;
        // padding-right: 3rem;
        padding-top: 3rem;
        padding-bottom: 3rem;
        background-color: white;
        overflow: hidden;
        // border-radius: 0.25rem
    }
}

.keunggulan-reverse {
    display: flex;
    @include for-tablet-landscape-up {    
        flex-direction: row-reverse;
    }
    flex: 1 1 0%;
    width: 100%;
    flex-direction: column;
    .keunggulan-left {
        display: flex;
        @include for-tablet-landscape-up {
            width: 35rem;
        }
        width: 100%;
        background-color: $coolGray-50;
        overflow: hidden;
        .unggulan-img {
            width: 100%;
            padding: 3rem;
            height: auto;
            border-radius: 0px;
            object-fit: cover;
        }
    }
    .keunggulan-right {
        @include for-tablet-landscape-up {
            display: flex;
        }
        flex-direction: column;
        .title {
            @include text-xl;
            font-weight: 700;
            padding-bottom: 3rem;
            color: $coolGray-800;
        }
        .title-description {
            @include text-lg;
            font-weight: 500;
            letter-spacing: $tracking-wide;
            
            padding-right: 4rem;
            color: $coolGray-600;
        }
        width: 100%;
        padding-left: 6rem;
        // padding-right: 3rem;
        padding-top: 3rem;
        padding-bottom: 3rem;
        background-color: white;
        overflow: hidden;
        // border-radius: 0.25rem
    }
}